@model ASPCore_Final.Models.Hanghoa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết hàng hoá</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenhh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenhh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Giamgia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Giamgia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.MaloaiNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaloaiNavigation.Maloai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManccNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManccNavigation.Mancc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mahh" class="btn btn-primary">Sửa</a> |
    <a asp-action="Index" class="btn btn-primary">Trở lại</a>
</div>
