@model ASPCore_Final.Models.Hanghoa
@{
    ViewData["Title"] = "ChiTiet";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
    ModelContext db = new ModelContext();
}

@section breadcumb{
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a asp-action="Index" asp-controller="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
                <li><a asp-action="Index" asp-controller="Hanghoa">Sản phẩm</a></li>
                <li class="active">@Model.Tenhh</li>
            </ol>
        </div>
    </div>
}
<!-- //breadcrumbs -->
<!-- single -->
<div class="single">
    <div class="container">
        <div class="products-right">
            <div class="col-md-5 single-right-left animated wow slideInUp" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="/HangHoa/@Model.Hinh">
                            <div class="thumb-image"> <img src="~/HangHoa/@Model.Hinh" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="/HangHoa/@Model.Hinh">
                            <div class="thumb-image"> <img src="~/HangHoa/@Model.Hinh" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="/HangHoa/@Model.Hinh">
                            <div class="thumb-image"> <img src="~/HangHoa/@Model.Hinh" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                </div>
                <!-- flixslider -->
                <script defer src="~/js/jquery.flexslider.js"></script>
                <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- flixslider -->
            </div>
            <div class="col-md-7 single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                <h3>@Model.Tenhh</h3>
                @{
                    double giagiam = Convert.ToDouble(Model.Dongia * (1 - Model.Giamgia));
                    var masp = Model.Mahh;
                }
                <h4><span class="item_price"></span>@giagiam.ToString("#,##0") đ</h4>
                <div class="description">
                    <h4><i>Mô tả</i></h4>
                    <p>
                        @Model.Mota
                    </p>
                </div>
                <form asp-action="AddToCart" asp-controller="GioHang" method="post">
                    <div class="color-quality">
                        <div class="color-quality-left">
                            <input type="hidden" name="mahh" value="@Model.Mahh" />
                            <h4>Kích cỡ : </h4>
                            <div>
                                <ul>
                                    <li><input class="radio custom-radio" type="radio" id="sizeS" name="size" value="S" checked />S</li>
                                    <li><input class="radio custom-radio" type="radio" id="sizeM" name="size" value="M" />M</li>
                                    <li><input class="radio custom-radio" type="radio" id="sizeL" name="size" value="L" />L</li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="clearfix"></div>
                        <div>
                            <h4>Số lượng :</h4>
                            <input style="width:60px;" class="input-group-text" type="number" name="soluongsp" value="1" min="1" />
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <br />
                    @{
                        List<Sanphamkho> sanPhamKhos = db.Sanphamkho.Where(p => p.Mahh == Model.Mahh).ToList();
                        var soluong = sanPhamKhos.Sum(x => x.Soluong);
                        @if (soluong > 0)
                        {
                            <div class="occasion-cart">
                                <button type="submit" name="btnAddtoCart" class="btn btn-success">Thêm vào giỏ</button>
                            </div>
                        }
                        else
                        {
                            <div class="occasion-cart">
                                <p class="label label-danger">Tạm hết hàng</p>
                            </div>
                        }
                    }

                </form>
                <div class="social">
                    <div class="social-left">
                        <p>Chia sẻ :</p>
                    </div>
                    <div class="social-right">
                        <ul class="social-icons">
                            @{
                                string link = "http://www.facebook.com/share.php?u=";
                                link += "HangHoa/ChiTiet?mahh=" + Model.Mahh;
                            }
                            <li><a style='padding: 0 5px' target='_blank' href="@link" title='Chia sẻ lên Facebook' class="facebook"></a></li>

                        </ul>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=58&layout=button&action=like&size=small&show_faces=true&share=false&height=65&appId" width="58" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        
                        
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane bootstrap-tab-text active" id="profile" aria-labelledby="profile-tab">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //single -->
<!-- single-related-products -->
<div class="single-related-products">
    <div class="container">
        <h3 class="animated wow slideInUp" data-wow-delay=".5s">Sản phẩm liên quan</h3>
        <div class="new-collections-grids">
            <div class="new-collections-grid">
                @{
                    var listSP_related = db.Hanghoa.Where(p => p.Maloai == Model.Maloai).Take(4).ToList();
                }

                @foreach (var item in listSP_related)
                {
                    double giagiam_related = Convert.ToDouble(item.Dongia * (1 - item.Giamgia));
                <div class="col-md-3 new-collections-grid1 animated wow slideInLeft" data-wow-delay=".5s" style="margin-top:0px;">
                    <div class="new-collections-grid1-image">
                        <a asp-action="ChiTiet" asp-controller="Hanghoa" asp-route-mahh="@item.Mahh" class="product-image"><img src="~/HangHoa/@item.Hinh" alt=" " class="img-responsive"></a>
                        <div class="new-collections-grid1-image-pos">
                            <a asp-action="ChiTiet" asp-controller="Hanghoa" asp-route-mahh="@item.Mahh">Xem chi tiết</a>
                        </div>
                    </div>
                    <h4><a asp-action="ChiTiet" asp-controller="Hanghoa" asp-route-mahh="@item.Mahh">@item.Tenhh</a></h4>
                    <div class="new-collections-grid1-left simpleCart_shelfItem">
                        <p><i>@item.Dongia.ToString("#,##0") đ</i> <span class="item_price">@giagiam_related.ToString("#,##0") đ</span></p>
                    </div>
                </div>
                }
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //single-related-products -->
