@model IEnumerable<ASPCore_Final.Models.Hanghoa>
@{
    ModelContext db = new ModelContext();
    int tongSoLuong = (int)ViewData["TongSoLuong"];
    int pageSize = 6;
    var totalPage = 0;
    if (tongSoLuong % pageSize == 0)
    {
        totalPage = tongSoLuong / pageSize;
    }
    else
    {
        totalPage = tongSoLuong / pageSize;
        totalPage += 1;
    }
}
<input type="hidden" name="tongsotrang" value="@totalPage" />
@foreach (var item in Model)
{
    <div class="col-md-4 products-right-grids-bottom-grid" style="margin-bottom:15px;">
        <div class="new-collections-grid1 products-right-grid1 animated wow" data-wow-delay=".5s" style="padding:10px;">
            <div class="new-collections-grid1-image">
                <a asp-action="ChiTiet" asp-controller="Hanghoa" asp-route-id="@item.Mahh" class="product-image" style="padding:10px;"><img src="~/Hanghoa/@item.Hinh" alt=" " class="img-responsive"></a>
                <div class="new-collections-grid1-image-pos products-right-grids-pos" style="text-align:center">
                    <a asp-action="ChiTiet" asp-controller="Hanghoa" asp-route-mahh="@item.Mahh">Xem chi tiết</a>
                </div>
                @{
                    
                    if (item.Giamgia > 0)
                    {
                        double gg = Convert.ToDouble(item.Giamgia * 100);
                        <div class="new-one">
                            <p>-@gg%</p>
                        </div>
                    }
                }
            </div>
            <h4><a asp-action="ChiTiet" asp-controller="Hanghoa" asp-route-mahh="@item.Mahh">@item.Tenhh</a></h4>
            <p>@item.Mota</p>
            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                @{
                    double dongiaban = Convert.ToDouble(item.Dongia * (1 - item.Giamgia));
                    double giamgia = Convert.ToDouble(item.Giamgia * 100);
                }
                <p><i>@item.Dongia.ToString("#,##0") đ</i> <span class="item_price">@dongiaban.ToString("#,##0") đ</span></p>
            </div>
        </div>
    </div>
}
<div class="clearfix"></div>