@model IEnumerable<ASPCore_Final.Models.Chitiethd>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết hóa đơn</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Mahd)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Mahh)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Dongia)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Giamgia)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Soluong)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Kichco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Mahd)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Mahh)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Dongia)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Giamgia)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Soluong)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Kichco)
                    </td>
                 
                </tr>
            }
        </tbody>
    </table>
</div>
